@keyframes seeMoreUpDown{
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes opa{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*================*/
/*===== BASE =====*/
/*================*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; /* Default font-family */
    color: black;
    outline: none;
    animation: opa 250ms;
}

/*==================*/
/*===== HEADER =====*/
/*==================*/

header{
    margin-bottom: 25px;
}

header > div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

header div nav:first-child ul, header div nav:first-child ul div{
    display: flex;
    justify-content: space-between;
}

header div nav:last-child ul{
    display: flex;
    justify-content: center;
}

header div nav ul li a{
    padding: 10px;
}

/*================*/
/*===== HOME =====*/
/*================*/

#home .internshipsProposal{
    display: flex;
    flex-direction: column;
    background: url("/picture/internshipBackground.jpg");
    padding: 20px 0;
    background-size: cover;
}

#home .internshipsProposal > div{
    width: 75%;
    margin-left: 12.5%;
}

#home .internshipsProposal > div > h1{
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

#home .internshipsProposal > div .internships{
    display: flex;
    flex-direction: column;
}

#home .internshipsProposal > div .internships .internshipRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#home .internshipsProposal > div .internships .internshipRow:last-child{
    margin-bottom: auto;
}

#home .internshipsProposal > div .internships .internshipRow .internship{
    width: 45%;
    border-radius: 10px;
    padding: 25px;
    max-height: 150px;
    background-color: #ffffffed;
}

#home .internshipsProposal > div .seeMore{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    animation: seeMoreUpDown infinite 1.9s;
}

#home .internshipsProposal > div .seeMore a{
    color: rgb(0 157 70);
    font-size: 1.4em;
    padding: 10px;
}

#home .internshipsProposal > div .seeMore a::after{
    content: "⪻";
    position: absolute;
    top: 30px;
    right: 49.4%;
    transform: rotate(90deg);
    zoom: 75%;
}

/*==================*/
/*===== FOOTER =====*/
/*==================*/

footer div p{
    text-align: center;
}
