@font-face {
    font-family: MonserratRegular;
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@keyframes seeMoreUpDown{
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes opa{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*================*/
/*===== BASE =====*/
/*================*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; /* Default font-family */
    color: black;
    outline: none;
    animation: opa 250ms;
}

/*==================*/
/*===== HEADER =====*/
/*==================*/

header{
    margin-bottom: 25px;
}

header > div{
    display: flex;
    flex-direction: column;
}

header div nav:first-child ul, header div nav:first-child ul div{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

header div nav:first-child ul div li:nth-child(2){
    margin-left: 10px;
}

header div nav:first-child{
    border-bottom: 1px #00000075 solid;
}

header div nav:last-child ul{
    display: flex;
    justify-content: center;
    margin: auto;
}

header div nav:last-child {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #396ada;
}

header div nav ul li a img{
    height: 61px;
}

header div nav ul li a{
    padding: 10px;
}

header div nav:nth-child(2) ul li a{
    color: white;
    transition: background 500ms;
    border-radius: 5px;
}

header div nav:nth-child(2) ul li a.active{
    background-color: #12c9a7;
}

header div nav:nth-child(2) ul li a:hover {
    background-color: #12c9a7;
}

/*================*/
/*===== HOME =====*/
/*================*/

#home .internshipsProposal{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#home .internshipsProposal > h1{
    align-self: center;
    text-decoration: underline;
    font-style: oblique;
}

#home .internshipsProposal .internships{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#home .internshipsProposal .internships > div{
    display: flex;
    justify-content: space-evenly;
    width: 44%;
}

#home .internshipsProposal .internships .internship{
    height: fit-content;
    width: 325px;
    padding: 40px 30px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px -8px #4f9b8d;
}

#home .internshipsProposal .internships .internship > h2{
    color: #0b0c32;
    margin-top: 20px;
}

#home .internshipsProposal .internships .internship p:nth-child(2){
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0px 0px 20px -13px #4f9b8d;
    margin-top: 30px;
    font-size: large;
}

#home .internshipsProposal .internships .internship > .seeMore{
    text-align: center;
    margin-top: 30px;
}

#home .internshipsProposal .internships .internship > .seeMore a{
    background-color: #396ada;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    transition: 250ms;
}

#home .internshipsProposal .internships .internship > .seeMore a:hover {
    background-color: #12c9a7;
}

#home .internshipsProposal > .seeMore{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    animation: seeMoreUpDown infinite 1.9s;
}

#home .internshipsProposal > .seeMore a{
    color: rgb(0 157 70);
    font-size: 1.4em;
    padding: 10px;
}

#home .internshipsProposal > .seeMore a::after{
    content: "⪻";
    position: absolute;
    top: 30px;
    right: 49.4%;
    transform: rotate(90deg);
    zoom: 75%;
}

/*===================*/
/*===== CONTACT =====*/
/*===================*/

#contact form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
}

#contact form > div {
    display: flex;
    justify-content: space-between;
}

#contact form label {
    display: flex;
    flex-direction: column;
}

#contact form > label {
    margin-top: 15px;
}

#contact form textarea{
    resize: none;
}

#contact form button {
    width: fit-content;
    position: relative;
    left: 20px;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #12c9a7;
    background-color: #396ada;
    color: white;
    transition: 300ms;
}

#contact form button:hover {
    cursor: pointer;
    border: 1px solid #396ada;
    background-color: #12c9a7;
}

#contact form label input {
    border: none;
    border-left: 1px solid #396ada;
    border-bottom: 2px solid #396ada;
    border-radius: 2px 10px 5px/2px 2px;
}

#contact form label input.OK {
    border-color: #12c9a7;
}

#contact form label input.KO {
    border-color: red;
}

#contact form label small{
    color: red;
    font-size: 0.8em;
}

/*==================*/
/*===== FOOTER =====*/
/*==================*/

footer div p{
    text-align: center;
}

@media (min-width: 1388px) {
    
}

@media (min-width: 768px) and (max-width: 1388px) {
    #home .internshipsProposal .internships{
        flex-direction: column;
        justify-content: space-between;
        height: 1160px;
    }

    #home .internshipsProposal .internships > div{
        justify-content: space-evenly;
        width: 100%;
    }

    #home .internshipsProposal .internships .internship{
        width: 365px;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    
}

@media (max-width: 425px) {
    
}
