@font-face {
    font-family: MonserratRegular;
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@keyframes seeMoreUpDown{
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes opa{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*================*/
/*===== BASE =====*/
/*================*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana; /* Default font-family */
    color: black;
    outline: none;
    animation: opa 250ms;
}

/*==================*/
/*===== HEADER =====*/
/*==================*/

header{
    margin-bottom: 25px;
}

header > div{
    display: flex;
    flex-direction: column;
}

header div nav:first-child ul, header div nav:first-child ul div{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

header div nav:first-child ul div li:nth-child(2){
    margin-left: 10px;
}

header div nav:first-child{
    border-bottom: 1px #00000075 solid;
}

header div nav:last-child ul{
    display: flex;
    justify-content: center;
    margin: auto;
}

header div nav:last-child ul > li{
    margin: 0 20px;
}

header div nav:last-child {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #396ada;
}

header div nav ul li a img{
    height: 61px;
}

header div nav ul li a{
    padding: 10px;
}

header div nav:nth-child(2) ul li a{
    color: white;
    transition: background 500ms;
    border-radius: 5px;
}

header div nav:nth-child(2) ul li a.active {
    background-color: #0e8972;
}

header div nav:nth-child(2) ul li a:hover {
    background-color: #0e8972;
}

/*================*/
/*===== HOME =====*/
/*================*/

#home .internshipsProposal{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#home .internshipsProposal > h1{
    align-self: center;
    text-decoration: underline;
    font-style: oblique;
}

#home .internshipsProposal .internships{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#home .internshipsProposal .internships > div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#home .internshipsProposal .internships .internship {
    display: flex;
    width: 645px;
    padding: 40px 30px;
    box-shadow: 1px 2px 0px 1px #00000033;
    flex-direction: column;
    justify-content: space-between;
}

#home .internshipsProposal .internships .internship > h2{
    color: #0b0c32;
    margin-top: 20px;
}

#home .internshipsProposal .internships .internship p:nth-child(2){
    padding: 15px;
    box-shadow: 0px 0px 20px -13px #4f9b8d;
    margin-top: 30px;
    font-size: large;
}

#home .internshipsProposal .internships .internship > .seeMore{
    text-align: center;
    margin-top: 30px;
}

#home .internshipsProposal .internships .internship > .seeMore a{
    border: 1px solid #396ada;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #396ada;
    transition: 250ms;
}

#home .internshipsProposal .internships .internship > .seeMore a:hover {
    background-color: #396ada85;
    color: white;
}

#home .internshipsProposal > .seeMore {
    animation: seeMoreUpDown infinite 1.9s;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

#home .internshipsProposal > .seeMore a{
    color: rgb(0 157 70);
    font-size: 1.4em;
    padding: 10px;
}

#home .internshipsProposal > .seeMore a::after {
    content: "⪻";
    position: absolute;
    top: 30px;
    transform: rotate(90deg);
    zoom: 75%;
    right: 60px;
}

/*===================*/
/*===== CONTACT =====*/
/*===================*/

#contact form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    box-shadow: 1px 2px 0px 1px #00000033;
}

#contact form > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

#contact form label {
    display: flex;
    flex-direction: column;
}

#contact form > label {
    margin-top: 60px;
}

#contact form textarea{
    resize: none; 
    font-size: 1.025em;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #dfdfdf;
    padding: 10px;
    box-shadow: 0 0 9px -7px black inset;
}

#contact form div{
    display: flex;
}

#contact form div button {
    width: fit-content;
    position: relative;
    left: 20px;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #396ada8a;
    color: white;
    transition: 300ms;
}

#contact form div button:hover {
    cursor: pointer;
    background-color: #7bfdb2;
}

#contact form div #valide {
    display: none;
    background-color: #0080004d;
    border: 2px solid green;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-left: 30px;
}

#contact form div #valide.OK{
    display: block;
}

#contact form label input {
    font-size: 1.025em;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #dfdfdf;
    padding: 10px;
    box-shadow: 0 0 9px -7px black inset;
}

#contact form label input.OK, #contact form label textarea.OK {
    border: 1px solid #12c9a7;
}

#contact form label input.KO, #contact form label textarea.KO {
    border: 1px solid red;
}

#contact form label small {
    color: red;
    font-size: 0.8em;
    width: min-content;
    min-width: fit-content;
}

/*=================*/
/*===== LOGIN =====*/
/*=================*/

#login form {
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    padding: 30px;
    box-shadow: 1px 2px 0px 1px #00000033;
}

#login form div {
    display: flex;
    height: 150px;
}

#login form div label {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 320px;
    justify-content: space-between;
    align-items: center;
}

#login form div label input {
    font-size: 1.025em;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #dfdfdf;
    padding: 10px;
    box-shadow: 0 0 9px -7px black inset;
}

#login form div label input.OK{
    border: 1px solid #12c9a7;
}

#login form div label input.KO{
    border: 1px solid red;
}

#login form small{
    color: red;
    font-size: 0.8em;
}

#login form button {
    width: fit-content;
    position: relative;
    left: 20px;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #7693d5;
    background-color: #396ada8a;
    color: white;
    transition: 500ms;
}

#login form button:hover{
    cursor: pointer;
    border: 2px solid #00ffd0;
    background-color: #12c9a75c;
}

/*=======================*/
/*===== INTERNSHIPS =====*/
/*=======================*/

#internships{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#internships .internships{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#internships .internships > div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 15px;
    flex-direction: column;
}

#internships .internships > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

#internships .internships .internship {
    display: flex;
    width: 645px;
    padding: 40px 30px;
    box-shadow: 1px 2px 0px 1px #00000033;
    flex-direction: column;
    justify-content: space-between;
}

#internships .internships .internship p:nth-child(2){
    padding: 15px;
    box-shadow: 0px 0px 20px -13px #4f9b8d;
    margin-top: 30px;
    font-size: large;
}

#internships .internships .internship > .seeMore{
    text-align: center;
    margin-top: 30px;
}

#internships .internships .internship > .seeMore a{
    border: 1px solid #396ada;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #396ada;
    transition: 250ms;
}

#internships .internships .internship > .seeMore a:hover {
    background-color: #396ada85;
    color: white;
}

/*=========================*/
/*===== INTERNSHIP/id =====*/
/*=========================*/

#internship {
    display: flex;
    width: 90%;
    margin: auto;
}

#internship > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    justify-content: space-between;
}

#internship > div > div:first-child h2{
    color: #02007C;
}

#internship > div > div:first-child h3{
    color: gray;
    margin-top: 5px;
}

#internship > div input {
    border: 1px solid #396ADA;
    border-radius: 10px;
    color: #396ADA;
    margin: auto;
    padding: 10px;
    margin-left: 10%;
    transition: background 200ms;
}

#internship > div input.KO {
    border: 1px solid #DA3939;
    color: #DA3939;
}

#internship > div input:hover {
    cursor: pointer;
    background-color: rgb(57 105 219 / 25%);
}

#internship > div input.KO:hover {
    background-color: rgba(219, 57, 57, 0.25);
}

#internship > p {
    text-align: justify;
    width: 100%;
}

/*====================*/
/*===== DAHBOARD =====*/
/*====================*/

#dashboard{
    display: flex;
}

#dashboard nav{
    width: 15%;
    background-color: #528AF4;
    border-radius: 0 10px 10px 0;
}

#dashboard nav h2{
    padding: 10px 20px;
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#dashboard nav ul{
    display: flex;
    flex-direction: column;
}

#dashboard nav ul a{
    padding: 5px 10px;
    color: white;
    display: flex;
    align-items: center;
}

#dashboard nav ul a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#dashboard nav ul ul a{
    background-color: #396ADA;
    padding-left: 20px;
}

#dashboard nav ul div div{
    display: flex;
    justify-content: space-between;
}

#dashboard nav ul div div *:first-child{
    width: 68%;
}

#dashboard nav > ul div div a:first-child::before{
    zoom: 75%;
    position: relative;
    left: -5px;
}

#dashboard nav > ul > div > div a:first-child::before{
    content: url('/picture/home.svg');
    zoom: 75%;
    position: relative;
    left: -5px;
}

#dashboard nav > ul .class div a:first-child::before{
    content: url('/picture/class.svg');
}

#dashboard nav > ul .student div a:first-child::before{
    content: url('/picture/student.svg');
}

#dashboard nav > ul .internship div a:first-child::before{
    content: url('/picture/internship.svg');
}

#dashboard nav > ul .teacher div a:first-child::before{
    content: url('/picture/teacher.svg');
}

#dashboard nav > ul > div > div > a:nth-child(2)::after {
    content: '▼';
    color: black;
    zoom: 120%;
    transition: transform 500ms;
}

#dashboard nav > ul > div > div > a.active:nth-child(2)::after{
    transform: rotate(180deg);
}

#dashboard nav > ul div > a:last-child:hover{
    cursor: pointer;
    text-decoration: none;
}

#dashboard nav ul div .toggler{
    display: none;
}

#dashboard nav ul div .toggler.OK{
    display: flex;
}

#dashboard #subpage{
    width: 100%;
}

/*====================================*/
/*===== DASHBOARD/HOME (Teacher) =====*/
/*====================================*/

#dt_home{
    display: flex;
    flex-direction: column;
}

#dt_home > div:first-child {
    display: flex;
    justify-content: space-around;
}

#dt_home > div:first-child > div {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    width: 400px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
}

#dt_home > div:first-child > div > h3{
    text-align: center;
}

#dt_home > div:first-child > div > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#dt_home > div:first-child > div > div > p{
    font-size: 40px;
}

#dt_home > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    padding: 10px 30px;
}

#dt_home > div:last-child > h3{
    text-align: center;
}

/*=======================================*/
/*===== DASHBOARD/STUDENT (Teacher) =====*/
/*=======================================*/

#dt_student{
    display: flex;
    flex-direction: column;
}

#dt_student #searchbar > div:first-child{
    display: flex;
    justify-content: center;
    margin: auto;
}

#dt_student #searchbar > div:first-child input{
    border-radius: 5px 0 0 5px;
    background-color: #dfdfdf;
    box-shadow: 0 0 9px -7px black inset;
    border: none;
    padding-left: 10px;
    font-size: 17px;
    width: 500px;
}

#dt_student #searchbar > div:first-child a{
    background-color: #f3a847;
    width: 50px;
    height: 50px;
    transition: background 200ms;
    border-radius: 0 5px 5px 0;
}

#dt_student #searchbar > div:first-child a:hover{
    cursor: pointer;
    background-color: #c38638;
}

#dt_student #searchbar > div:first-child a img{
    width: 40px;
    height: 40px;
    margin: 10%;
}

#dt_student #presumedresult{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: auto;
    max-height: 200px;
    overflow-y: scroll;
}

#dt_student #presumedresult > *{
    display: flex;
}

#dt_student #presumedresult > *:hover{
    cursor: pointer;
}

#dt_student #presumedresult > * > div{
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#dt_student #presumedresult > * > div > p:last-child{
    margin-left: 20px;
}

#dt_student #infos{
    width: 65%;
    margin: auto;
    margin-top: 100px;
    margin-left: 200px;
}

#dt_student #infos > h3{
    margin-bottom: 30px;
}

#dt_student #infos > div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*==================*/
/*===== FOOTER =====*/
/*==================*/

footer div p {
    text-align: center;
}


@media (min-width: 1388px) {
    
}

@media (min-width: 768px) and (max-width: 1388px) {
    #home .internshipsProposal .internships{
        flex-direction: column;
        justify-content: space-between;
        height: 1160px;
    }

    #home .internshipsProposal .internships > div{
        justify-content: space-evenly;
        width: 100%;
    }

    #home .internshipsProposal .internships .internship{
        width: 365px;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    
}

@media (max-width: 425px) {
    
}
